/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  border-width: 0px;
  border-spacing: 0px;
}

body {
    background: #EEE;
    color: #404040;
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#header{
    background: #EEE;
    height: 50px;
    width: 820px;
    //box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 2px 0px;
    //-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 2px 0px;
    width: 50%;
    margin-left:25%;
    position: relative;
    z-index:5;
    border-bottom-width: 1px;
    border-bottom-color: red;

    font-size: 50px;
}

#wrapper{
    background:  white;
    padding: 10px;
    width: 820px;
    background: white;

    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 2px 0px;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.code-and-images{
    border-width: 0px;

    margin: 10px;
    padding: 0px;
    //width: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    background: #f0f3f3;
    border-radius: 3px;
}

.highlight  {
    background: #f0f3f3;
    font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
    font-size: 13px;

}

img{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.code-td{
  width: 50%;
  vertical-align:top;
  padding: 5px;
}
.image-td{
  //width: 25%;
}


h1{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
h2{
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}
